<div>
  <button (click)="toggleDetails()">toggle visibility</button>
  Enemies:
</div>
<div *ngIf="showingDetails">
  <sml-edit-single-generic-object
    *ngFor="let enemy of enemies"
    [genericObject]="enemy"
    (editObjectWithoutKey)="edit($event)"
    (objectDeletedWithoutKey)="delete($event)"
    [key]="KeyInLocation.Enemies"
    style="display: inherit"
  />
  <sml-edit-enemy-builder
    (enemyCreatedOrUpdated)="createOrUpdate($event)"
    [startingConditions]="extractConditions(enemies)"
    [editedEnemy]="enemyToEdit"
  />

</div>
