<div>
  <label for="name">Create new enemy with name: </label><input id="name" name="name" [(ngModel)]="enemyName" ngDefaultControl/><br>
</div>
<div>
  <label for="souls">Souls: </label><input id="souls" name="souls" [(ngModel)]="souls" ngDefaultControl/><br>
</div>
<div>
  <label for="respawns">Respawns: </label><input type="checkbox" id="respawns" name="respawns" [(ngModel)]="respawns" ngDefaultControl/>
</div>
<div>
  <span>Drops: </span>
  <ul>
    <li *ngFor="let drop of drops">
      {{drop.item.count}}x {{mapService.itemTypeToString(mapService.itemTypeById(drop.item.itemTypeID))}} with {{drop.chance}}% chance
    </li>
  </ul>
  <sml-edit-drop-builder (createDrop)="addDrop($event)"/>
</div>
<sml-edit-condition-builder (internalConditionChanged)="updateInternalCondition($event)" [startingConditions]="startingConditions"/>
<button (click)="createNewEnemy()">create</button>
