<div>
  <label for="name">Create new enemy with name: </label><input id="name" name="name" [(ngModel)]="enemyName" ngDefaultControl/><br>
</div>
<div>
  <label for="souls">Souls: </label><input id="souls" name="souls" [(ngModel)]="souls" ngDefaultControl/><br>
</div>
<div>
  <label for="respawns">Respawns: </label><input type="checkbox" id="respawns" name="respawns" [(ngModel)]="respawns" ngDefaultControl/>
</div>
<div>

  <span>Drops: </span>
  <ul>
    <li *ngFor="let drop of drops">

    </li>
  </ul>
  <!-- extract to drop builder component -->
  <div class="card">
    <sml-edit-item-builder (itemCreated)="setNewDropItem($event)"/>
    <label for="dropChance"> with chance </label><input id="dropChance" name="dropChance" [(ngModel)]="dropChance" ngDefaultControl/>
    <button (click)="addDrop()">Create drop</button>
  </div>
</div>
<sml-edit-condition-builder (internalConditionChanged)="updateInternalCondition($event)"/>
<button (click)="createNewEnemy()">create</button>
