<div>
  <label for="name">Create new enemy with name: </label><input id="name" name="name" [(ngModel)]="enemyName" ngDefaultControl/><br>
</div>
<div>
  <label for="souls">Souls: </label><input id="souls" name="souls" [(ngModel)]="souls" ngDefaultControl/><br>
</div>
<div>
  <label for="respawns">Respawns: </label><input type="checkbox" id="respawns" name="respawns" [(ngModel)]="respawns" ngDefaultControl/>
</div>
<div>
  <span>Drops: </span>
  <ul>
    <li *ngFor="let drop of drops">
      {{drop.item.count}}x {{mapService.itemTypeToString(mapService.itemTypeById(drop.item.itemTypeID))}} with {{drop.chance}}% chance
      <button (click)="editDrop(drop)">edit</button>
      <button (click)="deleteDrop(drop)">delete</button>
    </li>
  </ul>
  <sml-edit-drop-builder [editedDrop]="dropToEdit" (dropCreatedOrUpdated)="addOrUpdateDrop($event)"/>
</div>
<sml-edit-condition-builder
  (internalConditionChange)="updateInternalCondition($event)"
  [startingConditions]="startingConditions"
  [editCondition]="editedEnemy?.if"
/>
<button (click)="createOrUpdateNewEnemy()">
  <span *ngIf="editedEnemy===undefined">create</span>
  <span *ngIf="editedEnemy!==undefined">update</span>
</button>
