<div>
  <label for="name">Create new NPC with name: </label><input id="name" name="name" [(ngModel)]="npcName" ngDefaultControl/><br>
</div>
<div>
  <span>Sells: </span>
  <ul>
    <li *ngFor="let shopItem of shopItems">
      {{shopItem.count}}x {{mapService.itemTypeToString(mapService.itemTypeById(shopItem.item.itemTypeID))}} costing {{shopItem.cost}} souls each
      <button (click)="editShopItem(shopItem)">edit</button>
      <button (click)="deleteShopItem(shopItem)">delete</button>
    </li>
  </ul>
  <sml-edit-shop-item-builder [editedShopItem]="shopItemToEdit" (shopItemCreatedOrUpdated)="addOrUpdateShopItem($event)"/>
</div>
<sml-edit-condition-builder
  (internalConditionChange)="updateInternalCondition($event)"
  [startingConditions]="startingConditions"
  [editCondition]="editedNPC?.availableIf"
/>
<button (click)="createOrUpdateNewNpc()">
  <span *ngIf="editedNPC===undefined">create</span>
  <span *ngIf="editedNPC!==undefined">update</span>
</button>
