<span *ngIf="!currentlyEditing">Name: {{area.name}}</span>
<label for="editName" *ngIf="currentlyEditing">Edit name: </label>
<input *ngIf="currentlyEditing" type="text" id="editName" name="editName" [(ngModel)]="editedName"/>
<span>| ID: {{area.id}}</span>
<button (click)="toggleEditing()">
  <span *ngIf="!currentlyEditing">
    edit
  </span>
  <span *ngIf="currentlyEditing">
    confirm
  </span>
</button>
<button (click)="fireAreaDeleted()">delete</button>
<div>
  <sml-edit-location-card
    *ngFor="let location of area?.locations"
    [location]="location"
    (locationDeleted)="deleteLocation($event)"
    (objectDeletedFromLocation)="deleteObjectFromLocationTOBEREMOVED($event)"
    (connectionDeletedFromLocation)="deleteConnectionFromLocation($event)"
    (updateLocationWithIDToName)="updateLocationWithIDToName($event)"
    (connectionCreatedOrUpdatedFromLocation)="createOrUpdateConnectionFromLocation($event)"
    (itemCreatedOrUpdatedInLocation)="createOrUpdateItemInLocation($event)"
    (enemyCreatedOrUpdatedInLocation)="createOrUpdateEnemyInLocation($event)"
    (objectCreatedOrUpdatedInLocation)="createOrUpdateObjectInLocation($event)"
    (npcCreatedOrUpdatedInLocation)="createOrUpdateNPCInLocation($event)"
  />
  <input type="text" id="newLocationName" name="newLocationName" [(ngModel)]="newAreaName" ngDefaultControl>
  <button (click)="addLocation(newAreaName)">add new location</button>
</div>
