<dialog
  (close)="this.fireCloseDialog()"
  #atomicDialog
  class="atomicdialog"
>
  Atomic condition creator

  <hr>
  <span>if </span>
  <select name="subjectType" [(ngModel)]="currentSubject" ngDefaultControl>
    <option
      *ngFor="let subject of Object.keys(ConditionSubjects)"
      value="{{subject}}"
    >
      {{subject}}
    </option>
  </select>

  <div [ngSwitch]="currentSubject" style="display: inline">
    <div *ngSwitchCase="ConditionSubjects.Location" style="display: inline">
      <sml-edit-select-from-all [allOptions]="mapService.allMinorLocations()"/>
      <span> has been visited</span>
    </div>
    <p *ngSwitchDefault>to be done</p>
  </div>


  <hr>

  <form method="dialog">
    <button (click)="fireCreateNewAtomicCondition()">create</button>
    <button (click)="this.fireCloseDialog()">cancel</button>
  </form>
</dialog>
