<dialog
  (close)="this.fireCloseDialog()"
  #atomicDialog
  class="atomicdialog"
>
  Atomic condition creator

  <hr>
  <span>if </span>
  <select name="subjectType" [(ngModel)]="currentSubject" ngDefaultControl>
    <option
      *ngFor="let subject of ['Location', 'Item', 'Enemy', 'Object']"
      value="{{subject}}"
    >
      {{subject}}
    </option>
  </select>

  <div [ngSwitch]="currentSubject" style="display: inline">
    <div *ngSwitchCase="'Location'" style="display: inline">
      <sml-edit-select-from-all [allOptions]="mapService.allMinorLocations()" (selectionChange)="selectTarget($event)"/>
      <span> has been visited</span>
    </div>
    <div *ngSwitchCase="'Item'" style="display: inline">
      <sml-edit-select-from-all [allOptions]="mapService.allItems()" (selectionChange)="selectTarget($event)"/>
      <span> has been collected</span>
    </div>
    <div *ngSwitchCase="'Enemy'" style="display: inline">
      <sml-edit-select-from-all [allOptions]="mapService.allEnemies()" (selectionChange)="selectTarget($event)"/>
      <span> has been killed</span>
    </div>
    <div *ngSwitchDefault style="display: inline">
      <sml-edit-select-from-all [allOptions]="mapService.allOtherObjects()" (selectionChange)="selectTarget($event)"/>
      <span> has been interacted with</span>
    </div>
  </div>


  <hr>

  <form method="dialog">
    <button (click)="fireCreateNewAtomicCondition()">create</button>
    <button (click)="this.fireCloseDialog()">cancel</button>
  </form>
</dialog>
