<span *ngIf="!currentlyEditing">Name: {{majorLocation.name}}</span>
<label for="editName" *ngIf="currentlyEditing">Edit name: </label>
<input *ngIf="currentlyEditing" type="text" id="editName" name="editName" [(ngModel)]="editedName"/>
<span>| ID: {{majorLocation.id}}</span>
<button (click)="toggleEditing()">
  <span *ngIf="!currentlyEditing">
    edit
  </span>
  <span *ngIf="currentlyEditing">
    confirm
  </span>
</button>
<button (click)="fireLocationDeleted()">delete</button>
<div>
  <sml-edit-sub-location-card
    *ngFor="let location of majorLocation?.subLocations"
    [location]="location"
    (locationDeleted)="deleteSubLocation($event)"
    (objectDeletedFromLocation)="deleteObjectFromLocation($event)"
    (connectionCreatedFromLocation)="createConnectionFromLocation($event)"
    (updateConnectionFromLocation)="updateConnectionFromLocation($event)"
    (itemCreatedInLocation)="createItemInLocation($event)"
    (updateItemInLocation)="updateItemInLocation($event)"
    (enemyCreatedInLocation)="createEnemyInLocation($event)"
    (objectCreatedInLocation)="createObjectInLocation($event)"
    (npcCreatedInLocation)="createNPCInLocation($event)"
  />
  <input type="text" id="newLocationName" name="newLocationName" [(ngModel)]="newLocationName" ngDefaultControl>
  <button (click)="addSubLocation(newLocationName)">add new minor</button>
</div>
