<span>Name: {{majorLocation?.name}} | ID: {{majorLocation?.id}}</span>
<button (click)="fireLocationDeleted()">delete</button>
<div>
  <sml-edit-sub-location-card
    *ngFor="let location of majorLocation?.subLocations"
    [location]="location"
    (locationDeleted)="deleteSubLocation($event)"
    (objectDeletedFromLocation)="deleteObjectFromLocation($event)"
    (connectionCreatedFromLocation)="createConnectionFromLocation($event)"
    (itemCreatedInLocation)="createItemInLocation($event)"
    (enemyCreatedInLocation)="createEnemyInLocation($event)"
  />
  <input type="text" id="newLocationName" name="newLocationName" [(ngModel)]="newLocationName" ngDefaultControl>
  <button (click)="addSubLocation(newLocationName)">add new minor</button>
</div>
