<div>
  <button (click)="toggleDetails()">toggle visibility</button>
  <span *ngIf="!currentlyEditing">Name: {{location.name}}</span>
  <label for="editName" *ngIf="currentlyEditing">Edit name: </label>
  <input *ngIf="currentlyEditing" type="text" id="editName" name="editName" [(ngModel)]="editedName"/>
  <span>| ID: {{location.id}}</span>
  <button (click)="toggleEditing()">
  <span *ngIf="!currentlyEditing">
    edit
  </span>
    <span *ngIf="currentlyEditing">
    confirm
  </span>
  </button>
  <button (click)="fireLocationDeleted()">delete location</button>
</div>
<div *ngIf="showingDetails">
  <hr style="border-top: 1px solid black;border-bottom: 0;width: 100%;height: 0">
  <sml-edit-connection-manager
    (connectionCreatedOrUpdated)="registerOrUpdateNewConnection($event)"
    (connectionDeleted)="deleteConnection($event)"
    [connections]="location.connections"
  />
  <sml-edit-item-manager
    (itemCreatedOrUpdated)="registerOrUpdateNewItem($event)"
    (itemDeleted)="deleteItem($event)"
    [items]="location.items"
  />
  <sml-edit-enemy-manager
    (enemyCreatedOrUpdated)="registerOrUpdateNewEnemy($event)"
    (enemyDeleted)="deleteEnemy($event)"
    [enemies]="location.enemies"
  />
  <sml-edit-other-object-manager
    (objectCreatedOrUpdated)="registerOrUpdateNewObject($event)"
    (objectDeleted)="deleteObject($event)"
    [objects]="location.objects"
  />
  <sml-edit-generic-object-manager
    [genericObjectArray]="location.npcs"
    (objectDeleted)="deleteObjectREMOVEME($event)"
    [key]="KeyInLocation.Npcs"
    (npcCreatedOrUpdated)="registerOrUpdateNewNPC($event)"
    style="margin-bottom: 10px"
  />
</div>
