<div>
  <button (click)="toggleDetails()">toggle visibility</button>
  {{nameOf(key)}}:
</div>
<div *ngIf="showingDetails">
  <sml-edit-single-generic-object
    *ngFor="let object of genericObjectArray"
    [genericObject]="object"
    [objectToString]="objectToString"
    (editObject)="editObject($event)"
    (objectDeleted)="deleteObject($event)"
    [key]="key"
    style="display: inherit"
  />
  <div [ngSwitch]="key">
    <sml-edit-connection-builder
      *ngSwitchCase="'connections'"
      (connectionCreatedOrUpdated)="createOrUpdateConnection($event)"
      [startingConditions]="extractConditions(genericObjectArray)"
      [editConnection]="connectionToEdit"
    />
    <sml-edit-item-builder
      *ngSwitchCase="'items'"
      (itemCreatedOrUpdated)="createOrUpdateItem($event)"
      [startingConditions]="extractConditions(genericObjectArray)"
      [editedItem]="itemToEdit"
    />
    <sml-edit-enemy-builder
      *ngSwitchCase="'enemies'"
      (enemyCreatedOrUpdated)="createOrUpdateEnemy($event)"
      [startingConditions]="extractConditions(genericObjectArray)"
      [editedEnemy]="enemyToEdit"
    />
    <sml-edit-object-builder
      *ngSwitchCase="'objects'"
      (objectCreatedOrUpdated)="createOrUpdateOtherObject($event)"
      [startingConditions]="extractConditions(genericObjectArray)"
      [editedObject]="otherObjectToEdit"
    />
    <sml-edit-npc-builder
      *ngSwitchDefault
      (npcCreatedOrUpdated)="createOrUpdateNPC($event)"
      [startingConditions]="extractConditions(genericObjectArray)"
      [editedNPC]="npcToEdit"
    />
  </div>

</div>
