<div>
  <button (click)="toggleDetails()">toggle visibility</button>
  {{nameOf(key)}}:
</div>
<div *ngIf="showingDetails">
  <sml-edit-single-generic-object
    *ngFor="let object of genericObjectArray"
    [genericObject]="object"
    [objectToString]="objectToString"
    (editObject)="editObject($event)"
    (objectDeleted)="deleteObject($event)"
    [key]="key"
    style="display: inherit"
  />
  <div [ngSwitch]="key">
    <sml-edit-connection-builder
      *ngSwitchCase="'connections'"
      (connectionCreated)="createConnection($event)"
      [startingConditions]="extractConditions(genericObjectArray)"
      [editConnection]="connectionToEdit"
      (updateConnection)="updateConnection($event)"
    />
    <sml-edit-item-builder
      *ngSwitchCase="'items'"
      (itemCreated)="createItem($event)"
      [startingConditions]="extractConditions(genericObjectArray)"
      [editedItem]="itemToEdit"
      (updateItem)="updateItem($event)"
    />
    <sml-edit-enemy-builder
      *ngSwitchCase="'enemies'"
      (enemyCreated)="createEnemy($event)"
      [startingConditions]="extractConditions(genericObjectArray)"
    />
    <sml-edit-object-builder
      *ngSwitchCase="'objects'"
      (objectCreated)="createOtherObject($event)"
      [startingConditions]="extractConditions(genericObjectArray)"
    />
    <sml-edit-npc-builder
      *ngSwitchDefault
      (npcCreated)="createNPC($event)"
      [startingConditions]="extractConditions(genericObjectArray)"
    />
  </div>

</div>
