<div>
  <button (click)="toggleDetails()">toggle visibility</button>
  {{nameOf(key)}}:
</div>
<div *ngIf="showingDetails">
  <sml-edit-single-generic-object
    *ngFor="let object of genericObjectArray"
    [genericObject]="object"
    (editObject)="editObject($event)"
    (objectDeleted)="deleteObject($event)"
    [key]="key"
    style="display: inherit"
  />
  <div [ngSwitch]="key">
    <sml-edit-npc-builder
      *ngSwitchDefault
      (npcCreatedOrUpdated)="createOrUpdateNPC($event)"
      [startingConditions]="extractConditions(genericObjectArray)"
      [editedNPC]="npcToEdit"
    />
  </div>

</div>
