<div id="areaWrapper">
  <h1>{{mapService.map.name}}</h1>
  <sml-edit-area-card
    *ngFor="let area of mapService.map.areas"
    [area]="area"
    (areaDeleted)="deleteArea($event)"
  />
  <div id="controllerBar">
    <div class="doubleStack">
      <input type="text" id="newLocationName" name="newLocationName" [(ngModel)]="newAreaName" ngDefaultControl>
      <button (click)="addArea(newAreaName)">add new area</button>
    </div>
    <div class="doubleStack">
      <input type="text" [(ngModel)]="filename" ngDefaultControl placeholder="filename">
      <button (click)="saveMapToFile()">save as json</button>
    </div>
    <div class="doubleStack">
      <label for="open map file">Upload map file</label>
      <input
        (change)="loadMap($event)"
        type="file"
        id="open map file"
        name="open map file"
        accept=".sml, .json"
        multiple />
    </div>
  </div>
</div>
