#areaWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#controllerBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.doubleStack {
  display: flex;
  flex-direction: column;
  align-items: center;
}
