<div id="majorWrapper">
  <h1>{{mapService.map.name}}</h1>
  <sml-edit-major-location-card
    *ngFor="let everyLocation of mapService.map.locations"
    [majorLocation]="everyLocation"
    (locationDeleted)="deleteMajorLocation($event)"
  />
  <div id="controllerBar">
    <div class="doubleStack">
      <input type="text" id="newLocationName" name="newLocationName" [(ngModel)]="newLocationName" ngDefaultControl>
      <button (click)="addMajorLocation(newLocationName)">add new major</button>
    </div>
    <div class="doubleStack">
      <input type="text" [(ngModel)]="filename" ngDefaultControl placeholder="filename">
      <button (click)="saveMapToFile()">save as json</button>
    </div>
    <div class="doubleStack">
      <label for="open map file">Upload map file</label>
      <input
        (change)="loadMap($event)"
        type="file"
        id="open map file"
        name="open map file"
        accept=".sml, .json"
        multiple />
    </div>
  </div>
</div>
