<sml-edit-item-builder-header
  [(itemCount)]="itemCount"
  [(itemType)]="itemType"
/>
<sml-edit-condition-builder
  *ngIf="allowConditions !== undefined && allowConditions"
  (internalConditionChange)="updateInternalCondition($event)"
  [startingConditions]="startingConditions"
  [editCondition]="editedItem?. if"
/>
<button (click)="createOrUpdateNewItem()">
  <span *ngIf="editedItem===undefined">
    create
  </span>
  <span *ngIf="editedItem!==undefined">
    confirm edit
  </span>
</button>
