<div>
  <button (click)="toggleDetails()">toggle visibility</button>
  <span *ngIf="!currentlyEditing">Name: {{location.name}}</span>
  <label for="editName" *ngIf="currentlyEditing">Edit name: </label>
  <input *ngIf="currentlyEditing" type="text" id="editName" name="editName" [(ngModel)]="editedName"/>
  <span>| ID: {{location.id}}</span>
  <button (click)="toggleEditing()">
  <span *ngIf="!currentlyEditing">
    edit
  </span>
    <span *ngIf="currentlyEditing">
    confirm
  </span>
  </button>
  <button (click)="fireLocationDeleted()">delete minor location</button>
</div>
<div *ngIf="showingDetails">
  <hr style="border-top: 1px solid black;border-bottom: 0;width: 100%;height: 0">
  <sml-edit-generic-object-manager
    [genericObjectArray]="location.connections"
    [objectToString]="this.connectionToString"
    (objectDeleted)="deleteObject($event)"
    [key]="KeyInSublocation.Connections"
    (connectionCreated)="registerNewConnection($event)"
  />
  <sml-edit-generic-object-manager
    [genericObjectArray]="location.items"
    [objectToString]="this.itemToString"
    (objectDeleted)="deleteObject($event)"
    [key]="KeyInSublocation.Items"
    (itemCreated)="registerNewItem($event)"
    (updatedItem)="updateItem($event)"
  />
  <sml-edit-generic-object-manager
    [genericObjectArray]="location.enemies"
    [objectToString]="this.enemyToString"
    (objectDeleted)="deleteObject($event)"
    [key]="KeyInSublocation.Enemies"
    (enemyCreated)="registerNewEnemy($event)"
  />
  <sml-edit-generic-object-manager
    [genericObjectArray]="location.objects"
    [objectToString]="otherObjectToString"
    (objectDeleted)="deleteObject($event)"
    [key]="KeyInSublocation.Objects"
    (otherObjectCreated)="registerNewObject($event)"
  />
  <sml-edit-generic-object-manager
    [genericObjectArray]="location.npcs"
    [objectToString]="npcToString"
    (objectDeleted)="deleteObject($event)"
    [key]="KeyInSublocation.Npcs"
    (npcCreated)="registerNewNPC($event)"
    style="margin-bottom: 10px"
  />
</div>
