Name: {{location?.name}}<br>
<hr style="border-top: 1px solid black;border-bottom: 0;width: 100%;height: 0px">
<sml-edit-generic-object-manager
  [genericObjectArray]="location?.connections"
  [objectToString]="this.connectionToString"
  [name]="'Connections'"
  (objectDeleted)="deleteObject($event)"
  [key]="'connections'"
/>
<sml-edit-generic-object-manager
  [genericObjectArray]="location?.items"
  [objectToString]="this.itemToString"
  [name]="'Items'"
  (objectDeleted)="deleteObject($event)"
  [key]="'items'"
/>
<sml-edit-generic-object-manager
  [genericObjectArray]="location?.enemies"
  [objectToString]="this.enemyToString"
  [name]="'Enemies'"
  (objectDeleted)="deleteObject($event)"
  [key]="'enemies'"
/>
<sml-edit-generic-object-manager
  [genericObjectArray]="location?.objects"
  [objectToString]="otherObjectToString"
  [name]="'Objects'"
  (objectDeleted)="deleteObject($event)"
  [key]="'objects'"
/>
<sml-edit-generic-object-manager
  [genericObjectArray]="location?.npcs"
  [objectToString]="npcToString"
  [name]="'NPCs'"
  (objectDeleted)="deleteObject($event)"
  [key]="'npcs'"
/>
<button (click)="fireLocationDeleted()">delete minor location</button>

