<div>
  <button (click)="toggleDetails()">toggle visibility</button>
  Connections:
</div>
<div *ngIf="showingDetails">
  <sml-edit-single-generic-object
    *ngFor="let object of objects"
    [genericObject]="object"
    (edit)="edit($event)"
    (delete)="delete($event)"
    style="display: inherit"
  />
    <sml-edit-connection-builder
      (connectionCreatedOrUpdated)="createOrUpdate($event)"
      [startingConditions]="extractConditions(objects)"
      [editConnection]="objectToEdit"
    />
</div>
