<li>
  <span *ngIf="isCountable(genericObject)">{{genericObject.count}}x </span>
  {{ genericObject ? genericObject.toString(mapService) : "undefined"}}
  <span *ngIf="!isConnection(genericObject)">| ID: {{asAny(genericObject).id}}</span>
  <span *ngIf="genericObject?.availableIf !== undefined"> if {{mapService.conditionToString(genericObject?.availableIf)}}</span>
  <button (click)="fireObjectEdited()">
    edit
  </button>
  <button (click)="fireObjectDeleted()">delete {{depluralizeSimple(name)}}</button>
</li>
